<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="AddComprobanteRel" rem="Inserta datos en la tabla DCFDIComprobanteRel" columns="PK:Int,Response:String" parameters="p_uuid:String,p_Serie:String,p_Folio:String,p_IDivisa:Int,p_TipoCambio:Decimal,p_MetodoPago:String,p_NumParcialidad:Int,p_ImpSaldoAnt:Decimal,p_ImpPagado:Decimal,p_ImpSaldoInsoluto:Decimal,fkcomprobante:Int,PKCFDIRel:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">CALL sp_AddComprobanteRel(@p_uuid,@p_Serie,@p_Folio,@p_IDivisa,@p_TipoCambio,@p_MetodoPago,@p_NumParcialidad,@p_ImpSaldoAnt,@p_ImpPagado,@p_ImpSaldoInsoluto,@fkcomprobante,@PKCFDIRel);







</sql>
</queryDef>