<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="delRegimenFiscal" rem="Elimina todos los regimenes fiscales que se encuentren configurado." parameters="" cardinality="void" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">truncate regimen_fiscal;
</sql>
</queryDef>