<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="DomiciliosFiscales" rem="" columns="sys_pk:Int,calle:String,colonia:String,lugar:String" parameters="" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call sp_DomiciliosFiscales()</sql>
</queryDef>