<?xml version="1.0"?>
<netService xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="EnviarCFDIPorCorreo" rem="" permission="" assembly="5817D77C831C44E0883B48848EA3548C" namespace="induxsoftuva" class="cMain" method="sendCFDIMail" parameters="RFC:String,UUID:String,para_nombre:String,para_correos:String,para_asunto:String,para_mensaje:String" return="Bool" description="" xmlns="http://dev.induxsoft.net/xsd/netservice.xsd" />