<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="CxC_EdoCuenta_Movs" rem="" columns="IdDocumentoNc:String" parameters="rfc_receptor:String" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">
      select IdDocumentoNc from ts_rel_nc where rfc = @rfc_receptor and saldo > 0;
        </sql>
</queryDef>