<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetCFDIRelateByComprobante" rem="" columns="sys_pk:Int,uuid:String,rfc_receptor:String,nombre_receptor:String,subtotal:Decimal,total:Decimal,Folio_Interno:String" parameters="PKComprobante:Long" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call sp_GetCFDIRelateByComprobante(@PKComprobante)


</sql>
</queryDef>