<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="getCFDIInfoPago" rem="" columns="uuid:String,folio:Int,serie:String,divisa:Int,TipoCambio:Decimal,sat_usocfdi:String,sat_metodopago:String,sat_formapago:String,total:Decimal" parameters="GUID:String" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call getCFDIInfoPago(@GUID)




</sql>
</queryDef>