<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetPKDivisaByCodeORName" rem="Obtiene la clave primaria de la divisa segun el código o nombre." parameters="p_param:String" cardinality="one" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">CALL z_nnnn000000p60.sp_GetPKDivisaByCodeORName(@p_param)



</sql>
</queryDef>