<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="getRegimenesFiscales" rem="Obtiene el listado de regimenes fiscales segun sea persona fisica o moral" columns="clave:String,Descripcion:String" parameters="fisica:Bool" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call catalogocfdi.sp_getRegimenesFiscales(@fisica);
</sql>
</queryDef>