<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="getTipoCambioComp" rem="Obtiene tipo de cambio de comprobante" parameters="p_pkDivisa:Int" cardinality="one" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">select TipoCambio from comprobante where divisa = @p_pkDivisa order by sys_pk desc limit 1;</sql>
</queryDef>