<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="getTotalOfCFDI" rem="Servicio para obtener el total de pago de un cfdi relacionado" columns="total:Decimal,serie:String,folio:Int" parameters="p_uuid:String" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">CALL sp_getTotalOfCFDI(@p_uuid);





</sql>
</queryDef>