<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="getUsoCFDI" rem="" columns="clave:String,Descripcion:String" parameters="fisica:Bool" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">CALL catalogocfdi.sp_getUsoCFDI(@fisica);

</sql>
</queryDef>