<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="listarDomicilioFiscal" rem="" columns="sys_pk:Int,direccion:String" parameters="p_Cliente:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call sp_listarDomicilioFiscal(@p_Cliente);
</sql>
</queryDef>