<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="listarCFDI" rem="Listar comprobantes fiscales que no se han pagado" columns="sys_pk:Int,uuid:String,rfc_emisor:String,rfc_receptor:String,nombre_receptor:String,total:Decimal" parameters="" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">CALL sp_listarCFDI();



</sql>
</queryDef>