<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="listarCertificados" rem="Obtiene los certificados del emisor" columns="sys_pk:Int,nocertificado:String,certificado:String,llaveprivada:String,clave:String" parameters="" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">select sys_pk, nocertificado, certificado, llaveprivada, md5(clave) as clave from cfdinfo where sys_deleted is null order by nocertificado;

</sql>
</queryDef>