<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="listarCFDIXReceptor" rem="Listar comprobantes fiscales en general" columns="sys_pk:Int,referencia:String,uuid:String,total:Decimal,divisa:String" parameters="p_rfc_receptor:String,p_param:String" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">
	select sys_pk,emision,referencia, uuid, total,divisa  from ts_cfdi where rfc_receptor=@p_rfc_receptor and (uuid like concat('%',@p_param,'%') or referencia like concat('%',@p_param,'%')) order by emision desc; 
</sql>
</queryDef>
