<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="searchProveedorByRFCOrCode" rem="Consulta el rfc y codigo de proveedores para qeu no exista duplicados" columns="sys_pk:Long,codigo:String,rfc:String" parameters="p_rfc:String,p_code:String" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call sp_searchProveedorByRFCOrCode(@p_rfc, @p_code);


</sql>
</queryDef>