<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="SeleccionUnidadSAT" rem="" columns="clave:String,nombre:String,descripcion:String" parameters="p_Param:String" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call catalogocfdi.sp_SU0004(@p_Param);

</sql>
</queryDef>