<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="selectConcepto33" rem="" columns="sys_pk:Int,sys_recver:Int,codigo:String,descripcion:String,porcentaje_iva:Decimal,precio:Decimal,porcentaje_ieps:Decimal,porcentaje_ivaretencion:Decimal,porcentaje_iepsretencion:Decimal,unidad:String,claveproductosat:String,claveunidadsat:String" parameters="p_Conceptos:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call sp_selectConcepto33(@p_Conceptos)

</sql>
</queryDef>