<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="TotalClientesProvedores" rem="" columns="subtotal:String,descuentos:String,retenciones:String,traslados:String,total:String" parameters="p_Action:Int,p_Final:Date,p_Inicial:Date,p_Param:String,p_RFC:String,p_Status:Int,p_color:Int,p_cancelado:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">CALL sp_Total_Emitidos_Recibidos(@p_RFC,@p_Param,@p_Inicial,@p_Final,@p_Action,@p_Status, @p_color, @p_cancelado);


</sql>
</queryDef>