<?xml version="1.0"?>
<netService xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="TrabajosPendientes" rem="Retorna la tabla con aquellas tareas que están pendientes por iniciar" permission="" assembly="566adbde637f4bb3bd888ce1787268d0" namespace="induxsoft.FactuBot.ServicesNET" class="ServicesNET" method="TrabajosPendientes" parameters="numFilas:Int" return="DataTable" description="" xmlns="http://dev.induxsoft.net/xsd/netservice.xsd" />