<?xml version="1.0"?>
<netService xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="ActualizarPoliza" rem="Inserta o Actualiza una Póliza segun su GUID, Referencia o Sys_PK" permission="" assembly="0b24801641f646d4870fddd078395141" namespace="induxsoft.SE.ERP.ServiciosContabilidad" class="ServicioPoliza" method="ActualizarPoliza" parameters="Data:String,Encoded:Bool" return="String" description="" xmlns="http://dev.induxsoft.net/xsd/netservice.xsd" />