<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="CcontableCrubro" rem="Elimina los rubros de la cuenta para que pueda ser eliminada" columns="sys_pk:Int" parameters="sys_pk:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select sys_pk from ccontable_crubro_ where cuentas = @sys_pk;

</sql>
</queryDef>