<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetSATBySys_PK" rem="Retorna el uf_sat_codigo para sys_pk de  la ccontable " parameters="Sys_PK:Int" cardinality="one" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select uf_sat_codigo from ccontable where sys_pk=@Sys_PK;
</sql>
</queryDef>