<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetSubCuenta" rem="Regresa la iCuenta de la ccontable por sys_pk;" parameters="Sys_PK:Int" cardinality="one" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select ICuenta from ccontable cc where cc.Sys_PK=@Sys_PK;

</sql>
</queryDef>