<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="ListaCuentaDepto" rem="Regresa las Cuentas Contables con Departamento" columns="Codigo:String,Descripcion:String,CodigoDepto:String,Departamento:String,Sys_PK:Int" parameters="" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">SELECT cc.Codigo, cc.Descripcion as Descripcion, cd.Codigo as CodigoDepto, cd.Descripcion as Departamento, cd.Sys_PK FROM ccontable cc
        INNER JOIN
    Ctadepto dpt ON cc.Sys_PK = dpt.ICuenta
        INNER JOIN
    cdepartamento cd ON dpt.FK_CDepartamento_Cuentas = cd.sys_pk WHERE Departamental=1;




</sql>
</queryDef>