<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="ListaCuentasRubros" rem="Regresa los rubros asociados a las cuentas contables" columns="sys_pk:Int,codigo:String,descripcion:String,icuenta:Int" parameters="" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select cc.sys_pk, cc.codigo, cc.descripcion, cc.icuenta from ccontable cc order by cc.codigo;


</sql>
</queryDef>