<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="s_rh_nomina_extra" rem="" columns="sys_pk:Int,sys_timestamp:DateTime,sys_guid:String,sys_dtcreated:DateTime,sys_user:String,sys_lastuser:String,sys_exported:Bool,sys_dtexported:DateTime,sys_info:String,sys_recver:Int,sys_deleted:Bool,sys_lock:Int,status:Int,sueldomensualbruto:Decimal,sdi:Decimal,fdi:Decimal,fechabaja:DateTime,notabaja:String,fechainicio:DateTime,tipo:Int,diasppinformativo:Decimal,ref_empleado:Int,ref_puesto:Int,notas:String,idarchivo:String,fechavencimiento:DateTime,sat_banco:String,CLABE:String,referencia:String,ffirma:DateTime,horasvariables:Bool,activo:Bool,promediohorasdia:Decimal,pagoxhora:Bool,sueldoxunidaddepago:Decimal,diasxsemana:Decimal,septimodia:Bool,codido_empleado:String,nombre_empleado:String" parameters="p_tipo_nomina:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select distinct c.*, e.codigo codido_empleado, concat(e.apellido1, ' ', e.apellido2, ' ',e.nombre) nombre_empleado from rh_contrato_empleado c inner join rh_tipo_contrato tc on c.tipo=tc.sys_pk inner join rh_empleado_org e on c.ref_empleado=e.sys_pk inner join rh_tipo_contrato_nominas_extra ex on ex.ref_tipo_contrato=tc.sys_pk where c.activo=1 and ex.ref_tipo_nomina=@p_tipo_nomina order by e.apellido1, e.apellido2, e.nombre;</sql>
</queryDef>