<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="s_rh_concepto_x_sys_pk" rem="" columns="sys_pk:Int,sys_timestamp:DateTime,sys_guid:String,sys_dtcreated:DateTime,sys_user:String,sys_lastuser:String,sys_exported:Bool,sys_dtexported:DateTime,sys_info:String,sys_recver:Int,sys_deleted:Bool,sys_lock:Int,codigo:String,descripcion:String,notas:String,formula:String,tipo:Int,gravable:Bool,especie:Bool,sat_elemento:Int,sat_clave:String,cuenta_contable:String,contra_cuenta:String,tipo_asiento:Int,ref_tiponomina:Int,manual:Bool,polizadetallada:Bool" parameters="p_sys_pk:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select * from rh_concepto_nomina where sys_pk=@p_sys_pk;</sql>
</queryDef>