<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="sp_GetFolioG" rem="Regresa el último Folio General" parameters="Ejercicio:Int" cardinality="one" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">call sp_GetFolioG(@Ejercicio);</sql>
</queryDef>