<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="Balanza" rem="consulta que obtiene los datos para la balanza de comprobación" columns="sys_pk:Int,codigo:String,descripcion:String,sinicial:Decimal,debe:Decimal,haber:Decimal,sfinal:Decimal" parameters="periodo:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">(SELECT c.sys_pk, c.codigo, c.descripcion,
	CASE @periodo
WHEN 1 THEN c.SInicial
WHEN 2 THEN c.S01
WHEN 3 THEN c.S02
WHEN 4 THEN c.S03
WHEN 5 THEN c.S04
WHEN 6 THEN c.S05
WHEN 7 THEN c.S06
WHEN 8 THEN c.S07
WHEN 9 THEN c.S08
WHEN 10 THEN c.S09
WHEN 11 THEN c.S10
WHEN 12 THEN c.S11
WHEN 13 THEN c.S12
WHEN 14 THEN c.S12
ELSE 0
END as 'sinicial',
CASE @periodo
WHEN 1 THEN c.D01
WHEN 2 THEN c.D02
WHEN 3 THEN c.D03
WHEN 4 THEN c.D04
WHEN 5 THEN c.D05
WHEN 6 THEN c.D06
WHEN 7 THEN c.D07
WHEN 8 THEN c.D08
WHEN 9 THEN c.D09
WHEN 10 THEN c.D10
WHEN 11 THEN c.D11
WHEN 12 THEN c.D12
WHEN 13 THEN c.DFinal
WHEN 14 then SUM(d.debe)
ELSE 0
END as 'debe',
CASE @periodo
WHEN 1 THEN c.H01
WHEN 2 THEN c.H02
WHEN 3 THEN c.H03
WHEN 4 THEN c.H04
WHEN 5 THEN c.H05
WHEN 6 THEN c.H06
WHEN 7 THEN c.H07
WHEN 8 THEN c.H08
WHEN 9 THEN c.H09
WHEN 10 THEN c.H10
WHEN 11 THEN c.H11
WHEN 12 THEN c.H12
WHEN 13 THEN c.HFinal
WHEN 14 then SUM(d.haber)
ELSE 0
END as 'haber',
CASE @periodo
WHEN 1 THEN c.S01
WHEN 2 THEN c.S02
WHEN 3 THEN c.S03
WHEN 4 THEN c.S04
WHEN 5 THEN c.S05
WHEN 6 THEN c.S06
WHEN 7 THEN c.S07
WHEN 8 THEN c.S08
WHEN 9 THEN c.S09
WHEN 10 THEN c.S10
WHEN 11 THEN c.S11
WHEN 12 THEN c.S12
WHEN 13 THEN c.SFinal
WHEN 14 THEN c.SFinal
ELSE 0
END as 'sfinal' FROM ccontable c LEFT JOIN cdpoliza d on d.ICuenta = c.sys_pk LEFT JOIN cpoliza p ON d.FK_Cpoliza_Detalle = p.sys_pk WHERE if(@periodo=14, p.Periodo &lt;&gt; @periodo, p.Periodo = @periodo ) AND p.Aplicada = true GROUP BY c.Codigo, c.Descripcion ORDER BY c.codigo)
UNION DISTINCT
(SELECT c.sys_pk, c.codigo, c.descripcion,
	CASE @periodo
WHEN 1 THEN c.SInicial
WHEN 2 THEN c.S01
WHEN 3 THEN c.S02
WHEN 4 THEN c.S03
WHEN 5 THEN c.S04
WHEN 6 THEN c.S05
WHEN 7 THEN c.S06
WHEN 8 THEN c.S07
WHEN 9 THEN c.S08
WHEN 10 THEN c.S09
WHEN 11 THEN c.S10
WHEN 12 THEN c.S11
WHEN 13 THEN c.S12
WHEN 14 THEN c.S12
ELSE 0
END as 'sinicial',
CASE @periodo
WHEN 1 THEN c.D01
WHEN 2 THEN c.D02
WHEN 3 THEN c.D03
WHEN 4 THEN c.D04
WHEN 5 THEN c.D05
WHEN 6 THEN c.D06
WHEN 7 THEN c.D07
WHEN 8 THEN c.D08
WHEN 9 THEN c.D09
WHEN 10 THEN c.D10
WHEN 11 THEN c.D11
WHEN 12 THEN c.D12
WHEN 13 THEN c.DFinal
WHEN 14 then SUM(d.debe)
ELSE 0
END as 'debe',
CASE @periodo
WHEN 1 THEN c.H01
WHEN 2 THEN c.H02
WHEN 3 THEN c.H03
WHEN 4 THEN c.H04
WHEN 5 THEN c.H05
WHEN 6 THEN c.H06
WHEN 7 THEN c.H07
WHEN 8 THEN c.H08
WHEN 9 THEN c.H09
WHEN 10 THEN c.H10
WHEN 11 THEN c.H11
WHEN 12 THEN c.H12
WHEN 13 THEN c.HFinal
WHEN 14 then SUM(d.haber)
ELSE 0
END as 'haber',
CASE @periodo
WHEN 1 THEN c.S01
WHEN 2 THEN c.S02
WHEN 3 THEN c.S03
WHEN 4 THEN c.S04
WHEN 5 THEN c.S05
WHEN 6 THEN c.S06
WHEN 7 THEN c.S07
WHEN 8 THEN c.S08
WHEN 9 THEN c.S09
WHEN 10 THEN c.S10
WHEN 11 THEN c.S11
WHEN 12 THEN c.S12
WHEN 13 THEN c.SFinal
WHEN 14 THEN c.SFinal
ELSE 0
END as 'sfinal' FROM ccontable c LEFT JOIN cdpoliza d on d.ICuenta = c.sys_pk LEFT JOIN cpoliza p ON d.FK_Cpoliza_Detalle = p.sys_pk WHERE (
CASE @periodo
WHEN 1 THEN c.SInicial &gt; 0
WHEN 2 THEN c.S01 &gt; 0
WHEN 3 THEN c.S02 &gt; 0
WHEN 4 THEN c.S03 &gt; 0
WHEN 5 THEN c.S04 &gt; 0
WHEN 6 THEN c.S05 &gt; 0
WHEN 7 THEN c.S06 &gt; 0
WHEN 8 THEN c.S07 &gt; 0
WHEN 9 THEN c.S08 &gt; 0
WHEN 10 THEN c.S09 &gt; 0 
WHEN 11 THEN c.S10 &gt; 0
WHEN 12 THEN c.S11 &gt; 0
WHEN 13 THEN c.S12 &gt; 0
WHEN 14 THEN c.S12 &gt; 0
END
)  AND p.Periodo &lt; @periodo AND p.Aplicada = true GROUP BY c.Codigo, c.Descripcion ORDER BY c.codigo)
UNION DISTINCT
(SELECT c.sys_pk, c.codigo, c.descripcion,
	CASE @periodo
WHEN 1 THEN c.SInicial
WHEN 2 THEN c.S01
WHEN 3 THEN c.S02
WHEN 4 THEN c.S03
WHEN 5 THEN c.S04
WHEN 6 THEN c.S05
WHEN 7 THEN c.S06
WHEN 8 THEN c.S07
WHEN 9 THEN c.S08
WHEN 10 THEN c.S09
WHEN 11 THEN c.S10
WHEN 12 THEN c.S11
WHEN 13 THEN c.S12
WHEN 14 THEN c.S12
ELSE 0
END as 'sinicial',
CASE @periodo
WHEN 1 THEN c.D01
WHEN 2 THEN c.D02
WHEN 3 THEN c.D03
WHEN 4 THEN c.D04
WHEN 5 THEN c.D05
WHEN 6 THEN c.D06
WHEN 7 THEN c.D07
WHEN 8 THEN c.D08
WHEN 9 THEN c.D09
WHEN 10 THEN c.D10
WHEN 11 THEN c.D11
WHEN 12 THEN c.D12
WHEN 13 THEN c.DFinal
WHEN 14 then SUM(d.debe)
ELSE 0
END as 'debe',
CASE @periodo
WHEN 1 THEN c.H01
WHEN 2 THEN c.H02
WHEN 3 THEN c.H03
WHEN 4 THEN c.H04
WHEN 5 THEN c.H05
WHEN 6 THEN c.H06
WHEN 7 THEN c.H07
WHEN 8 THEN c.H08
WHEN 9 THEN c.H09
WHEN 10 THEN c.H10
WHEN 11 THEN c.H11
WHEN 12 THEN c.H12
WHEN 13 THEN c.HFinal
WHEN 14 then SUM(d.haber)
ELSE 0
END as 'haber',
CASE @periodo
WHEN 1 THEN c.S01
WHEN 2 THEN c.S02
WHEN 3 THEN c.S03
WHEN 4 THEN c.S04
WHEN 5 THEN c.S05
WHEN 6 THEN c.S06
WHEN 7 THEN c.S07
WHEN 8 THEN c.S08
WHEN 9 THEN c.S09
WHEN 10 THEN c.S10
WHEN 11 THEN c.S11
WHEN 12 THEN c.S12
WHEN 13 THEN c.SFinal
WHEN 14 THEN c.SFinal
END as 'sfinal' FROM ccontable c LEFT JOIN cdpoliza d on d.ICuenta = c.sys_pk LEFT JOIN cpoliza p ON d.FK_Cpoliza_Detalle = p.sys_pk WHERE (
CASE @periodo
WHEN 1 THEN c.S01
WHEN 2 THEN c.S02
WHEN 3 THEN c.S03
WHEN 4 THEN c.S04
WHEN 5 THEN c.S05
WHEN 6 THEN c.S06
WHEN 7 THEN c.S07
WHEN 8 THEN c.S08
WHEN 9 THEN c.S09
WHEN 10 THEN c.S10
WHEN 11 THEN c.S11
WHEN 12 THEN c.S12
WHEN 13 THEN c.SFinal
WHEN 14 THEN c.SFinal
END
)  AND p.Periodo &lt; @periodo AND p.Aplicada = true GROUP BY c.Codigo, c.Descripcion ORDER BY c.codigo);
</sql>
</queryDef>