<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetChildsByPeriodo" rem="devuelve las subcuentas dada una cuenta padre y un periodo" columns="sys_pk:Int,Codigo:String,Descripcion:String,icuenta:Int,tipo:Int,detalle:Bool,Saldo:Decimal" parameters="sys_pk:Int,periodo:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">select  sys_pk,
	Codigo,
	Descripcion,
	icuenta,
	tipo,
	detalle,
	ifnull(if(@periodo=01, S01 , if(@periodo=02, S02 , if(@periodo=03, S03, if(@periodo=04, S04, if(@periodo=05, S05, if(@periodo=06, S06, if(@periodo=07, S07, if(@periodo=08, S08, if(@periodo=09, S09, if(@periodo=10, S10, if(@periodo=11, S11, if(@periodo=12, S12, if(@periodo=13, SFinal, 0.00))))))))))))), 0.00)
    as 'Saldo'
from    (select * from ccontable	
	order by icuenta, sys_pk) products_sorted,
(select @pv := @sys_pk) initialisation
where   find_in_set(icuenta, @pv)
and     length(@pv := concat(@pv, ',', sys_pk) ) or sys_pk=@sys_pk;



</sql>
</queryDef>