<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetPkRubrosFromCuenta" rem="regresa las pks de los rubros dada una cuenta contable" columns="sys_pk:Int" parameters="pk:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select crub.sys_pk from ccontable cc inner join ccontable_crubro_ cr on cc.Sys_PK = cr.Cuentas inner join crubro crub on cr.Rubros = crub.Sys_PK where cc.Sys_PK = @pk;
</sql>
</queryDef>