<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="Lista_descripcion_cdepartamento" rem="" columns="Sys_Pk:Int,Descripcion:String" parameters="" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">select Sys_Pk,Descripcion from cdepartamento;

</sql>
</queryDef>