<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetChilds" rem="Regresa las cuentas contables de la sys_pk" columns="sys_pk:Int,Codigo:String,Descripcion:String,icuenta:Int" parameters="sys_pk:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">select  sys_pk,
	Codigo,
	Descripcion,
	icuenta,
	tipo
from    (select * from ccontable	
	order by icuenta, sys_pk) products_sorted,
(select @pv := @sys_pk) initialisation
where   find_in_set(icuenta, @pv)
and     length(@pv := concat(@pv, ',', sys_pk) ) or sys_pk=@sys_pk;
</sql>
</queryDef>