<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="s_rh_detalle_nomina" rem="" columns="codigo_empleado:String,nom_tipocontrato:String,desc_puesto:String,apellido1:String,apellido2:String,nombre_empleado:String,curp:String,rfc:String,nss:String,sys_pk:Int,sys_timestamp:DateTime,sys_guid:String,sys_dtcreated:DateTime,sys_recver:Int,sys_deleted:Bool,sys_lock:Int,ref_nomina:Int,ref_contrato:Int,notas:String,fechainicio:DateTime,fechavencimiento:DateTime,referencia:String,percepciones:Decimal,deducciones:Decimal,liquido:Decimal,obligaciones:Decimal,empleadopk:Int" parameters="p_nomina:Int" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">select e.codigo codigo_empleado, t.nombre nom_tipocontrato, p.descripcion desc_puesto, e.apellido1, e.apellido2, e.nombre nombre_empleado, e.curp, e.rfc, e.nss, 
dn.sys_pk, dn.sys_timestamp, dn.sys_guid, dn.sys_dtcreated, dn.sys_recver, dn.sys_deleted, dn.sys_lock,
dn.ref_nomina, dn.ref_contrato, dn.notas, 
c.fechainicio, c.fechavencimiento, c.referencia,
sum(if(cpt.tipo=0,dnc.importe,0)) percepciones,
sum(if(cpt.tipo=1,dnc.importe,0)) deducciones,
sum(if(cpt.tipo=0,dnc.importe,0)-if(cpt.tipo=1,dnc.importe,0)) liquido,
sum(if(cpt.tipo=2,dnc.importe,0)) obligaciones,
e.sys_pk empleadopk
from rh_contrato_empleado c inner join rh_puesto_org p on c.ref_puesto=p.sys_pk inner join rh_empleado_org e on c.ref_empleado=e.sys_pk inner join rh_tipo_contrato t on c.tipo=t.sys_pk inner join rh_unidad_org u on p.ref_unidad_org=u.sys_pk inner join rh_detalle_nomina dn on c.sys_pk=dn.ref_contrato 
left join rh_detalle_nomina_concepto dnc on dnc.ref_detalle_nomina=dn.sys_pk left join rh_concepto_nomina cpt on dnc.ref_concepto=cpt.sys_pk
where dn.ref_nomina=@p_nomina
group by e.codigo, t.nombre, p.descripcion, e.apellido1, e.apellido2, e.nombre, e.curp, e.rfc, e.nss, 
dn.sys_pk, dn.sys_timestamp, dn.sys_guid, dn.sys_dtcreated, dn.sys_recver, dn.sys_deleted, dn.sys_lock,
dn.ref_nomina, dn.ref_contrato, dn.notas,c.fechainicio, c.fechavencimiento, c.referencia
order by e.apellido1, e.apellido2, e.nombre;

</sql>
</queryDef>