# Este archivo configura las ubicaciones para las carpetas necesarias que se encuentran generalmente en %programdata%\induxsoft
# El delimitador de los pares clave valor es el caracter >
# El caracter $ indica "ubicación del ensamblado"
# El caracter # se usa para comentar una lína

schemas		>$/schemas
induxsoft 	>$
machine		>$
configs		>$
tools		>$

# Esta entrada permite establecer un nombre diferente para el archivo server.devkron
# si no se establece, se asume server.devkron
# server.devkron	> svr10.test.server.devkron


########################################################################################################
# Establecer las siguientes claves hace que no sea necesario un archivo devkron.services.config

# Diccionario de consultas operativas

my_sql_operative.sqldic	> $/my_sql_operative.sqldic

# Si se establece la clave db_cnn_repo_sqldic, será usada como directorio de base para los diccionarios de consultas de los controladores de servicio
db_cnn_repo_sqldic > $

# Url para carga y descarga de archivos
dk.files.url.upload > url
dk.files.url.download > url

########################################################################################################

# Cualquier otro par clave valor se puede acceder a través de KeyValues en induxsoft.machine.paths

# clave > valor

