<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://dev.induxsoft.net/xsd/localconfig.xsd">
  <include file="uva.config" />
  <var id="se_server_name" title="Id de servidor" value="UVADB_24" type="String" rem="Identificación del servidor en que se crearán las bases de datos" />
  <var id="se_app_name" title="Id Aplicación" value="serie.e" type="String" rem="Grupo de aplicaciones" />
  <var id="se_import_tables" title="Tablas iniciales" value="rh_variable.tdk,rh_concepto_nomina.tdk,rh_tabla_calculo.tdk,rh_grupo_conceptos.tdk,rh_detalle_grupo_conceptos.tdk,rh_tipo_nomina.tdk,rh_tipo_contrato.tdk,rh_tipo_contrato_nominas_extra.tdk,divisa.tdk,crubro.tdk,ccontable.tdk,ctipospolizas.tdk,ccontable_crubro_.tdk, ut_sat_cuenta.tdk,se_repconta.tdk" type="String" rem="Lista de archivos a importar al momento de la creación de bases de datos" />
  <var id="qname_epifania" title="Conexión a Epifanía" value="" type="String" rem="Nombre cualificado para conectarse a Epifanía" />
  <var id="se_cnn_repo" title="Conexión al repositorio de conexiones" value="" type="String" rem="El nombre cualificado de la conexión que facilita las conexiones por nombre a los componentes .Net que exponen servicios." />
  <var id="se_cert_path" title="Ubicación de caché de certificados" value="" type="String" rem="Ubicación donde almacena los certificados que usa para sellar de tal forma que se evite consumir el servicio de descarga en cada ocasión." />
</config>
