<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="GetCodigoSAT" rem="Regresa el codigo del SAT asociado a la cuenta contable" parameters="uf_sat_codigo:Int" cardinality="one" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">Select uf_NumCta from ut_sat_cuenta sat where Sys_PK=@uf_sat_codigo;

</sql>
</queryDef>