<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="Listaut_sat_cuenta" rem="" columns="sys_pk:Int,sys_timestamp:DateTime,sys_guid:String,sys_dtcreated:DateTime,sys_user:String,sys_lastuser:String,sys_exported:Bool,sys_dtexported:DateTime,sys_info:String,sys_recver:Int,sys_deleted:Bool,sys_lock:Int,uf_CodAgrup:String,uf_NumCta:String,uf_Desc:String,uf_SubCuentaDe:Int,uf_Nivel:Int,uf_Naturaleza:Int" parameters="filtro:String" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">select * from ut_sat_cuenta where (uf_NumCta like concat('%',@filtro,'%') or  
			uf_Desc like concat('%',@filtro,'%')) or
		ifnull(@filtro,'')='' order by uf_NumCta;



</sql>
</queryDef>