<?xml version="1.0"?>
<queryDef xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="ListaCuentaContrapartidas" rem="Regresa las Cuentas que contienen una contrapartida" columns="Codigo:String,Descripcion:String,Contrapartida:Int" parameters="" permission="" xmlns="http://dev.induxsoft.net/xsd/querydef.xsd">
  <sql engine="MY_SQL">SELECT Codigo, Descripcion, Contrapartida from ccontable where contrapartida is not null;</sql>
</queryDef>