<?xml version="1.0"?>
<netService xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="Utilidades_RelCtaRubros" rem="" permission="" assembly="8f227714a3394981b60aae7463ba2460" namespace="induxsoft.SE.ERP.Backend.Contabilidad" class="Utilidades" method="RelCTaRubros" parameters="pk_contable:Int,pkrubros:String" return="Bool" description="" xmlns="http://dev.induxsoft.net/xsd/netservice.xsd" />